p {
font-family : 'ExoRegular';
font-weight : normal;
font-style : normal;
}
h1 {
font-family : 'ExoRegular';
color : black;
}
.white {
border : black solid 1px;
width : 12%;
height : 60px;
background-color : white;
float : left;
}
.black {
border : black solid 1px;
width : 12%;
height : 60px;
background-color : #787878;
float : left;
}
h1, h2, p {
text-align : center;
padding : 12px;
}
#footer {
border : solid 1px;
padding : 10px;
margin : 10px;
}
body {
background-image : url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}
